@import './vars';

.header {
  height: 100vh;
  background-image: url('/assets/imgs/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  &__container {
    @include container;

    margin-top: auto;
    margin-bottom: 30vh;

    @media(max-width: $lg) {
      margin-bottom: auto;
      text-align: center;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 88px;
    line-height: 107px;
    text-transform: uppercase;
    max-width: 600px;

    @media(max-width: $lg) {
      max-width: 100%;
      font-size: 50px;
      line-height: 60px;
    }

    @media(max-width: $sm) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__subtitle {
    margin-top: 10px;
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;

    @media(max-width: $sm) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__scroll {
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -38px;
    transition: transform .3s;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;

    @-webkit-keyframes pulsing {
      0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
      }
      50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
      }
      100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
    }
    @keyframes pulsing {
      0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
      }
      50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
      }
      100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
    }
  }
}

.navigation {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  &--is-active {
    background: #3EB17A;

    .navigation__item:hover {
      color: #fff;
    }

    .navigation__inner {
      background: #3EB17A;
    }
  }

  &__container {
    @include container;

    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin-right: auto;
    cursor: pointer;

    img {
      width: 160px;
      height: 91px;
    }
  }

  &__burger {
    display: none;
    width: 50px;
    height: 10px;
    background: #fff;
    margin: auto 10px;
    cursor: pointer;
    position: relative;
    top: -15px;

    &:after, &:before {
      content: '';
      width: 50px;
      height: 10px;
      background: #fff;
      display: block;
      position: absolute;
      top: 15px;
    }

    &:before {
      top: 30px;
    }

    &--is-open {
      + .navigation__inner {
        transform: translateX(0);
      }
    }

    @media(max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__inner {
    display: flex;

    @media(max-width: $md) {
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 5px 0;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      transition: transform .3s ease;
      transform: translateX(100%);
    }
  }

  &__item {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #3EB17A;
      text-decoration: none;

      &:before {
        height: 5px;
      }
    }

    &:before {
        content: '';
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        bottom: -10px;
        transition: height .3s ease;
      }

    &--is-active {
      &:before {
        height: 5px;
      }
    }

    @media(max-width: $lg) {
      margin-left: 20px;
    }

    @media(max-width: $md) {
      margin: 0;
      padding: 5px 10px;

      &:before {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about-us {
  padding-top: 50px;
  padding-bottom: 45px;

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-top: 50px;

    @media(max-width: $lg) {
      flex-direction: column;
    }
  }

  &__description {
    background-color: #F1F2F2;
    padding: 70px 65px 70px 30px;
    position: relative;

    &:after {
      content: '';
      width: 60px;
      height: 100%;
      position: absolute;
      left: 100%;
      top: 0;
      background-color: #F1F2F2;
    }

    @media(max-width: $xl) {
      padding-right: 30px;
    }

    @media(max-width: $lg) {
      padding: 30px 15px;

      &:after {
        display: none;
      }
    }
  }

  &__img {
    position: relative;

    @media(max-width: $lg) {
      max-width: 100%;
    }
  }

  &__paragraph {
    font-weight: 200;
    font-size: 20px;
    line-height: 34px;

    &--shifted {
      max-width: 300px;
      width: 100%;
      margin-left: auto;

      @media(max-width: $xl) {
        margin-left: 0;
      }

      @media(max-width: $lg) {
        max-width: 100%;
        flex: 1;
      }
    }

    @media(max-width: $sm) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;

    @media(max-width: $xl) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }

    @media(max-width: $lg) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media(max-width: $sm) {
      flex-direction: column;
    }
  }

  &__year {
    font-weight: bold;
    font-size: 90px;
    line-height: 34px;
    color: #3EB17A;
    border: 1px solid #3EB17A;
    width: 225px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    position: absolute;
    left: -92px;

    @media(max-width: $xl) {
      position: static;
      margin-bottom: 20px;
    }

    @media(max-width: $sm) {
      margin-right: 0;
      font-size: 45px;
      width: 100%;
      height: 100px;
    }
  }

  &__bold {
    font-weight: 600;
  }

  &__quote {
    display: flex;
    text-align: right;
    margin-top: 50px;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;

    span {
      font-family: Hiragino, sans-serif;
      font-size: 100px;
      color: #3EB17A;
      margin-top: 15px;
      margin-right: 5px;

      @media(max-width: $sm) {
        font-size: 50px;
        margin-top: 0;
        margin-right: 0;
      }
    }

    @media(max-width: $sm) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__italic {
    font-style: italic;
  }
}

.technologies {
  background-color: #3EB17A;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  text-align: center;

  &__container {
    @include container;
  }

  &__title {
    @include section-title-technology;
  }

  &__subtitle {
    @include section-subtitle;

    max-width: 600px;
  }

  &__infocard {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    outline: none;
    padding: 7px 20px;
    transition: box-shadow .3s ease;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, .4) inset;
    }
  }
}

.portfolio {
  padding-top: 60px;

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__inner {

    .swiper-container {
      padding: 60px 40px;

      @media(max-width: $sm) {
        padding-top: 30px;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      &:after {
        display: none;
      }
    }

    .swiper-button-next {
      right: -5px;
    }

    .swiper-button-prev {
      left: -5px;
    }
  }
}

.work-with {
  padding-top: 90px;
  padding-bottom: 90px;
  color: #fff;
  background: url('/assets/imgs/waf_logo_white.png') #32423A no-repeat 35px 95%;

  @media(max-width: $sm) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: $lg) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    max-width: 400px;

    @media(max-width: $lg) {
      max-width: 100%;
    }

    @media(max-width: $sm) {
      text-align: center;
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    position: relative;
    margin-top: 25px;

    @media(max-width: $sm) {
      text-align: center;
      font-size: 20px;
      line-height: 25px;
      margin-top: 10px;

      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      width: 190px;
      height: 1px;
      background: #fff;
      position: absolute;
      bottom: 10px;
      margin-left: 15px;
    }
  }

  &__item {
    width: 310px;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #24382E;
    padding: 5px 10px;

    @media(max-width: $xl) {
      width: 260px;
    }

    @media(max-width: $lg) {
      width: 48%;
      margin-bottom: 15px;
    }

    @media(max-width: $sm) {
      width: 100%;
      height: 80px;
      margin-bottom: 10px;
    }

    &:hover {
      background: linear-gradient(258.61deg, #3EB17A 0.96%, #348C5F 87.6%);
    }

    &:nth-child(odd) {
      margin-right: 15px;

      @media(max-width: $lg) {
        margin-right: 0;
      }
    }

    &:nth-child(-n+4) {
      margin-bottom: 15px;

      @media(max-width: $sm) {
        margin-bottom: 10px;
      }
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;

    @media(max-width: $lg) {
      margin-top: 20px;
      justify-content: space-around;
    }
  }

  &__caption {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;

    @media(max-width: $sm) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__text {
    font-weight: 200;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
  }
}

.team {
  padding-top: 50px;
  padding-bottom: 50px;

  @media(max-width: $xl) {
    overflow: hidden;
  }

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: -20px;

    @media(max-width: $xl) {
      justify-content: center;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 60px;

    @media(max-width: $sm) {
      margin-top: 10px;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.contact-us {
  &__container {
    @include container;
  }

  &__inner {
    background: #F1F2F2;
    padding-top: 60px;
    padding-left: 60px;
  }
}
